h2{
	font-size: 3.5em;
	font-weight: 100;
	text-align: center;
}
h3{
	font-weight: 400;
}
h4{
	font-weight: 400;
}
hr{
	border-width: 2px;
	border-color: #333333;
}
a:hover{
	cursor: pointer;
}

/*Table*/
table {
	width: auto !important;
	text-align: left;
	border-collapse: collapse;
}
th{
	color: #f6f6f6;
}
table td, table th {
	padding: 12px 12px;
}
table tbody td {
	font-size: 1.1em;
}
table tr:nth-child(even){
	/*color: #f7f7f7;*/
}
/*Table*/

.card > p,h1,h2,h3,h4,h5{
	color: black;
}
.card-body > p,h1,h2,h3,h4,h5{
	color: black;
}
.btn{
	width: fit-content;
}
.header-image{
	width: 100vw;
	height: 23vh;
	background-position: center;
	background-size: cover;
	/*display: flex;*/
	justify-content: center;
	position: relative;
	align-items: center;
}
.header-image-home{
	align-items: center;
	background-position: center;
	background-size: cover;
	height: 60vh !important;
	/*display: flex;*/
	justify-content: center;
	position: relative;
	width: 100vw;
}
.tagline{
	font-size: 1.1em;
}
.jumbotron{
	border-radius: 0;
}
.custom-logo{
	display: block !important;
	float: right !important;
	height: auto;
	max-width: 250px;
	width: 20vw;
}
.custom-logo-container{
	bottom: 25px;
	right: 25px;
	position: absolute;
}
.wp-block-columns{
	align-items: center;
	display: flex;
	margin-top: 25px;
}
.img-border img{
	border: 3px solid black;
	border-radius: 5px;
}

/*Top Menu*/
.top-bar{
	position: sticky;
	top: 0;
	z-index: 100;
}
.top-bar a{
	padding-left: 10px;
	padding-right: 10px;
}
.dropdown-menu{
	border: 0;
}
.dropdown-menu a{
	line-height: 50px;
}
.dropdown-item:hover{
	background-color: inherit;
}

.current-menu-item a{
	font-weight: 700;
}
/*End of top menu*/

/*Footer Menu*/
.bottom-list{
	margin: 0;
	padding: 0;
}
.bottom-list .menu{
	list-style-type: none;
	padding: 0;
}
.bottom-list .sub-menu{
	list-style-type: none;
	padding-left: 20px;
}
.bottom-list .menu-item{
	display: block;
	list-style: none;
}
.bottom-list .menu-item a{
	font-size: 1.2em;
	text-decoration: underline;
	width: auto;
}
.bottom-list .menu-item a:hover{
	color: black;
}
/*End of footer menu*/

/*Social links menu*/
.social-list ul{
	list-style: none;
}
.social-list li{
	display: inline;
	font-size: 4em;
}
.social-list a{
	padding: 10px;
}
.social-list a:hover{
	cursor: pointer;
}
.right-sm-center{
 	text-align: right;
 }
/*social links menu ends*/

/*Sidebar Menu*/
.widget ul{
	padding: 5px 0;
}
.widget li{
	list-style-type: none;
	padding-left: 15px;
}
/*Sidebar Menu end*/

.gradient-head{
	background: rgb(46,122,133);
	background: linear-gradient(36deg, rgba(46,122,133,1) 23%, rgba(52,164,180,1) 76%, rgba(132,228,82,1) 100%);
}

/* - Large window - */
@media only screen and (max-width: 1200px){
 .header-image-home{
 	height: 50vh !important;
 }
}
/* - Small window - */
@media only screen and (max-width: 992px){
	.header-image-home{
		height: 40vh !important;
	}
}

/* - Tablet - */
@media only screen and (max-width: 768px){
	.header-image-home{
		height: 25vh !important;
	}
}

/* - Smart phone - */
@media only screen and (max-width: 576px){
	h2{
		font-size: 2.5em;
	}
	h3{
		font-size: 1.5em;
	}
	.right-sm-center{
		text-align: center !important;
	}
	.social-list ul{
		padding: 0;
	}
	.header-image-home{
		height: 25vh !important;
	}
}
